/.idea/
/.idea/*
/project/boot/
/project/target/*
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
.classpath_nb
logs/*
run/*
lib/*
!*/.keep
output/*
*.backup

/project/.idea/
project/project/
